// Variables
$simple-form-magenta: magenta;

// Style definitions
.App {
    // best way to center content in middle of screen
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .justify {
        margin-bottom: 25px;
    }

    .form-container {
        padding: 60px 0 20px 0;

        @media (max-width: 600px) {
            padding: 20px 0 20px 0;
        }
    }

    .clean-drag-n-drop {
        display: inline;
        text-align: center;
        border: dashed;
        border-width: thin;
        padding: 10px;
        cursor: pointer;

        .click-here {
            color: $simple-form-magenta;
        }
    }

    .drag-n-drop {
        display: flex;
        border: dashed;
        border-width: thin;
        padding: 10px;

        .image-name-container, img {
            width: 50%;
            height: 50%;
            margin: auto;
        }

        .click-here {
            color: $simple-form-magenta;
        }

        .image-name {
            text-align: center;
            margin: auto;
            color: $simple-form-magenta;
            word-wrap: anywhere;
        }
    }

    .wipe-drag-n-drop {
        color: maroon;
        padding-top: 20px;
        margin: auto;
        cursor: pointer;
        display: flex;

        &:hover {
            opacity: 0.5;
        }

        .trash-icon {
            margin-top: 5px;
        }

        .delete-text {
            margin: auto;
            padding: 8px;
        }
    }
}